---
const { project } = Astro.props;
import TagLogo from "../../assets/images/icons/tag.svg";
import { Image } from "astro:assets";
---

<button
    class="block text-left w-full project-card"
    data-modal={`modal-${project.slug}`}
>
    <article
        class="rounded-md bg-white dark:bg-slate-900 overflow-hidden transition-transform shadow-md dark:shadow-white/20 dark:inset-shadow-white/20 inset-shadow-xs hover:scale-105
        min-h-[300px] md:min-h-[330px] lg:min-h-[420px]"
    >
        {
            project.data.thumbnail && (
                <div class="relative">
                    <Image
                        src={project.data.thumbnail}
                        alt={project.data.title}
                        class="w-full h-80 md:h-75 lg:h-45 object-cover rounded-t-lg"
                        width="1"
                        height="1"
                    />

                    {project.data.label && (
                        <span
                            class="absolute top-2 right-2 bg-orange-500 text-white text-xs px-2 py-1 rounded shadow"
                            style="font-family: Quicksand; font-weight: bold;"
                        >
                            {project.data.label}
                        </span>
                    )}
                </div>
            )
        }

        <div class="p-4">
            <h3
                class="text-xl font-extrabold mb-3 transition-colors duration-300"
                style="font-family: Quicksand;"
            >
                <span class="group-hover:text-orange-500 transition-colors"
                    >{project.data.title}</span
                >
            </h3>

            {
                project.data.excerpt && (
                    <p
                        class="text-neutral-500 dark:text-neutral-400 text-sm mb-4 line-clamp-2 lg:line-clamp-3 h-[2.5rem] lg:h-[3.75rem]"
                        style="font-family:Roboto Condensed"
                    >
                        {project.data.excerpt}
                    </p>
                )
            }

            {
                project.data.tags.length > 0 && (
                    <div class="flex flex-wrap gap-2 mb-2">
                        {/* <TagLogo class="w-4 h-4 text-orange-500" /> */}
                        {project.data.tags.map((tag: string) => (
                            <span
                                class="border-[2px] border-orange-500 text-neutral-600 dark:text-neutral-300 text-xs px-2 py-1 rounded-full"
                                style="font-family:Roboto Condensed; font-weight: bold;"
                            >
                                {tag}
                            </span>
                        ))}
                    </div>
                )
            }
        </div>
    </article>
</button>
