---
const { project } = Astro.props;
import PillLink from "../general/PillLink.astro";
import GithubLogo from "@assets/images/logos/github.svg";
import ExternalLogo from "@assets/images/icons/external-link.svg";
import SteamLogo from "@assets/images/logos/steam.svg";
import ItchLogo from "@assets/images/logos/itchio.svg";
import TagLogo from "@assets/images/icons/tag.svg";
import CalendarLogo from "@assets/images/icons/calendar.svg";
import { Image } from "astro:assets";
import Video from "../visuals/Video.astro";

const iconMap = {
    steam: SteamLogo,
    itch: ItchLogo,
};
---

<div
    id={`modal-${project.slug}`}
    class="fixed inset-0 z-50 hidden items-center justify-center backdrop-blur-sm bg-black/40"
>
    <div class="absolute inset-0 modal-backdrop"></div>

    <div
        class="relative max-w-4xl w-full mx-6 bg-white dark:bg-slate-950 rounded-md overflow-hidden shadow-2xl"
    >
        <button
            class="absolute top-4 right-4 text-neutral-400 hover:text-white text-2xl modal-close"
        >
            ×
        </button>

        <div class="flex flex-col">
            <div
                class="px-6 py-4 flex items-center justify-between"
                style="margin-right: 20px; font-family: Quicksand; font-weight:bolder;"
            >
                <h2 class="text-xl">{project.data.title}</h2>
                <span
                    class="text-xl text-neutral-500 dark:text-neutral-400 flex items-center gap-2"
                >
                    <CalendarLogo class="w-4 h-4" />
                    {project.data.date.toLocaleDateString("nl-NL")}
                </span>
            </div>

            <div class="p-4">
                <div class="relative rounded-xl overflow-hidden shadow-lg">
                    {
                        project.data.video ? (
                            <Video
                                src={project.data.video}
                                type="youtube"
                                class="w-full h-[360px]"
                            />
                        ) : (
                            <Image
                                src={project.data.thumbnail}
                                alt={project.data.title}
                                width={640}
                                height={360}
                                class="w-full h-[160px] sm:h-[280px] md:h-[480px] object-cover"
                            />
                        )
                    }
                </div>

                <div class="mt-4 pb-2 flex flex-wrap gap-3 justify-start">
                    <PillLink
                        href={`/projects/${project.slug}`}
                        label="Full project"
                        width="140px"
                        behavior="new"
                        Logo={ExternalLogo}
                    />

                    {
                        project.data.github && (
                            <PillLink
                                href={project.data.github}
                                label="GitHub"
                                width="140px"
                                behavior="new"
                                Logo={GithubLogo}
                            />
                        )
                    }

                    {
                        project.data.extraLinks?.map((link) => {
                            const Logo = iconMap[link.icon] ?? ExternalLogo;
                            return (
                                <PillLink
                                    href={link.href}
                                    label={link.label}
                                    width="140px"
                                    behavior="new"
                                    Logo={Logo}
                                />
                            );
                        })
                    }
                </div>
            </div>

            <div class="px-8 pb-8 space-y-4">
                <p class="text-neutral-500 dark:text-neutral-400">
                    {
                        project.data.summary &&
                        project.data.summary.trim() !== ""
                            ? project.data.summary
                            : project.data.excerpt
                    }
                </p>

                <div class="flex flex-wrap gap-2">
                    {
                        project.data.tags?.map((t: string) => (
                            <span
                                class="border-[2px] border-orange-500 text-neutral-600 dark:text-neutral-300 px-2 py-1 rounded-full"
                                style="font-family:Roboto Condensed; font-weight: bold;"
                            >
                                {t}
                            </span>
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
</div>
