---
const { links = [], mainLink } = Astro.props;
import DarkModeButton from "./DarkModeButton.astro";
---

<nav
    class="sticky top-0 z-50 bg-white/80 dark:bg-slate-950 backdrop-blur-md shadow-md"
>
    <div class="max-w-9xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-16">
            <a
                href={mainLink}
                class="text-xl font-bold text-orange hover:text-orange-600"
            >
                modderjoch.
            </a>

            <div class="hidden md:flex items-center space-x-6">
                {
                    links.map((link) => (
                        <a
                            href={link.href}
                            class="text-neutral-700 dark:text-neutral-100 hover:text-orange-500 font-medium transition-colors"
                        >
                            {link.label}
                        </a>
                    ))
                }
                <DarkModeButton />
            </div>

            <div class="flex md:hidden items-center space-x-2">
                <DarkModeButton />
                <details id="mobile-nav" class="relative">
                    <summary
                        class="list-none cursor-pointer text-neutral-700 hover:text-orange-500"
                    >
                        <svg
                            class="w-6 h-6"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            viewBox="0 0 24 24"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </summary>
                    <div
                        class="fixed right-0 top-[64px] rounded-b-xl bg-white shadow-lg dark:bg-slate-950 w-30 text-center z-50"
                    >
                        <div class="flex flex-col">
                            {
                                links.map((link) => (
                                    <a
                                        href={link.href}
                                        class="px-4 py-3 text-neutral-700 font-medium hover:bg-orange-500 hover:text-white dark:hover:text-white dark:text-neutral-200 transition"
                                        onclick="this.closest('details').removeAttribute('open')"
                                    >
                                        {link.label}
                                    </a>
                                ))
                            }
                        </div>
                    </div>
                </details>
            </div>
        </div>
    </div>
</nav>

<script>
    const nav = document.getElementById("mobile-nav");

    document.addEventListener("click", (e) => {
        if (window.innerWidth < 768 && nav && !nav.contains(e.target)) {
            nav.removeAttribute("open");
        }
    });
</script>
