---
const {
    href,
    label,
    Logo,
    logoSrc,
    width,
    height,
    behavior = "same",
} = Astro.props;

const target = behavior === "new" ? "_blank" : undefined;
const rel = behavior === "new" ? "noopener noreferrer" : undefined;
const download = behavior === "download" ? true : undefined;
---

<a
    href={href}
    target={target}
    rel={rel}
    download={download}
    class="group flex items-center bg-white dark:bg-slate-900 justify-center gap-2 px-4 py-2 rounded-full font-medium shadow-md dark:shadow-white/20 dark:inset-shadow-white/20 inset-shadow-sm hover:text-orange-500 transition-all"
    style={`width: ${width || "120px"}; height: ${height || "40px"}; font-family:Roboto Condensed`}
>
    {
        Logo && (
            <Logo class="w-5 h-5 text-black dark:text-white group-hover:text-orange-500 transition-all" />
        )
    }

    {!Logo && logoSrc && <img src={logoSrc.src} alt="" class="w-7 h-7 ..." />}

    <span class="transition-all group-hover:text-orange-500">{label}</span>
</a>
