---
const {
    href,
    label,
    Logo,
    logoSrc,
    width,
    height,
    behavior = "same",
} = Astro.props;

const target = behavior === "new" ? "_blank" : undefined;
const rel = behavior === "new" ? "noopener noreferrer" : undefined;
const download = behavior === "download" ? true : undefined;
---

<a
    href={href}
    target={target}
    rel={rel}
    download={download}
    class="group flex items-center justify-center gap-2 px-4 py-2 rounded-full font-medium hover:text-orange-500 transition-colors shadow-md dark:shadow-white/20 dark:inset-shadow-white/20 inset-shadow-sm"
    style={`width: ${width || "120px"}; height: ${height || "40px"}`}
>
    {
        Logo && (
            <Logo class="w-5 h-5 text-black dark:text-white group-hover:text-orange-500 transition-colors" />
        )
    }

    {
        !Logo && logoSrc && (
            <img
                src={logoSrc}
                alt=""
                class="w-7 h-7 group-hover:opacity-80 transition-opacity"
            />
        )
    }

    <span>{label}</span>
</a>
